<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Исследование</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjs@6.2.3/dist/math.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
    <script src="https://fred-wang.github.io/mathjax.js/mpadded-min.js"></script>
    <style>
        #app {
            min-height: 100vh;
            padding: 40px;
        }
        #app .btn {
            line-height: 1;
        }
        textarea.form-control {
            height: 435px;
        }
        .form-group_multiplier .form-control {
            display: inline-block;
            max-width: 60px;
            vertical-align: middle;
        }
        .form-group_report > * {
            display: inline-block;
            max-width: 40%;
            vertical-align: middle;
        }
        .btn-success {
            padding-left: 40px;
            padding-right: 40px;
        }
    </style>
</head>
<body>
    
    <div id="app" class="d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-sm-2">
                    <div class="form-group">
                        <label for="a">Параметр a:</label>
                        <input type="text" class="form-control form-control-sm" id="a" v-model:value="a">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="0" id="a_fixed" v-model="fixed">
                            <label class="form-check-label" for="a_fixed">зафиксировать</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="b">Параметр b:</label>
                        <input type="text" class="form-control form-control-sm" id="b" v-model:value="b">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="1" id="b_fixed" v-model="fixed">
                            <label class="form-check-label" for="b_fixed">зафиксировать</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c">Параметр c:</label>
                        <input type="text" class="form-control form-control-sm" id="c" v-model:value="c">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="2" id="c_fixed" v-model="fixed">
                            <label class="form-check-label" for="c_fixed">зафиксировать</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="g">Параметр g:</label>
                        <input type="text" class="form-control form-control-sm" id="g" v-model:value="g">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="3" id="g_fixed" v-model="fixed">
                            <label class="form-check-label" for="g_fixed">зафиксировать</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="h">Параметр h:</label>
                        <input type="text" class="form-control form-control-sm" id="h" v-model:value="h">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="4" id="h_fixed" v-model="fixed">
                            <label class="form-check-label" for="h_fixed">зафиксировать</label>
                        </div>
                    </div>
                    <button type="button" v-on:click="reset1" class="btn btn-sm btn-warning" :disabled="isWork">сброс</button>
                    <button type="button" v-on:click="reset2" class="btn btn-sm btn-primary" :disabled="isWork">сброс2</button>
                </div>
                <!-- <div class="col-12 col-sm-2">
                    <div class="form-group">
                        <label for="tiData">ti</label>
                        <textarea v-model:value="tiData" class="form-control" id="tiData" disabled></textarea>
                    </div>
                </div> -->
                <div class="col-12 col-sm-2">
                    <div class="form-group">
                        <label for="yiData">yi</label>
                        <textarea v-model:value="yiData" v-on:input="inputData" class="form-control" id="yiData"></textarea>
                    </div>
                    <div class="form-group form-group_multiplier">
                        <label for="multiplier">Коэффициент:</label>
                        <input type="text" class="form-control form-control-sm" id="multiplier" v-model:value="multiplier">
                        <button type="button" v-on:click="applyMultiplier" class="btn btn-sm btn-info" :disabled="isWork">Применить</button>
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="text-center">
                        <br> 
                        <math>

                            <mi>y</mi><mfenced><mi>a</mi><mi>b</mi><mi>c</mi><mi>g</mi><mi>h</mi><mi>t</mi></mfenced>

                            <mo>=</mo>

                            <mn>1</mn><mo>-</mo>

                            <msup>
                                <mi>e</mi>
                                <mrow>
                                    <mo>-</mo>
                                    <mi>a</mi>
                                    
                                    <msup>
                                        <mi>t</mi>
                                        <mn>2</mn>
                                    </msup>
                                    
                                    <msup>
                                        <mi>e</mi>
                                        <mrow>
                                            <mo>-</mo>
                                            <mi>b</mi>
                                            <mi>t</mi>
                                        </mrow>
                                    </msup>
                            
                                </mrow>
                            </msup>
                            
                            <mo>+</mo>
                            
                            <mi>c</mi>
                            <mo>(</mo>
                            
                            <mn>1</mn><mo>-</mo>

                            <msup>
                                <mi>e</mi>
                                <mrow>
                                    <mo>-</mo>
                                    <msup>
                                        <mi>t</mi>
                                        <mn>3</mn>
                                    </msup>
                                    
                                    <msup>
                                        <mi>e</mi>
                                        <mrow>
                                            <mo>-</mo>
                                            <mi>g</mi>
                                            <mo>(</mo>
                                            <mi>t</mi>
                                            <mo>-</mo>
                                            <mi>h</mi>
                                            <mo>)</mo>
                                        </mrow>
                                    </msup>
                            
                                </mrow>
                            </msup>

                            <mo>)</mo>

                        </math>
                    </div>
                    <div id="plot"></div>
                    <div class="form-group form-group_report">
                        <div v-show="iters">
                            <label for="iters">Итерации:</label>
                            <input type="text" class="form-control form-control-sm" id="iters" v-model:value="iters">
                        </div>
                        <div v-show="err">
                            <label for="err">Среднекв. ошибка:</label>
                            <input type="text" class="form-control form-control-sm" id="err" v-model:value="err">
                        </div>
                        <div v-show="error">
                            <label for="error">Относит. ошибка(%):</label>
                            <input type="text" class="form-control form-control-sm" id="error" v-model:value="error">
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">                    
                    <button type="button" v-on:click="run" class="btn btn-success" :disabled="isWork">{{ button }}</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                a: 2.0,
                b: -2.0,
                c: 2.0,
                g: 10.0,
                h: 0.5,
                alpha: 1.0,
                beta: 0.5,
                gamma: 2.0,
                eps: 1E-8,
                epochs: 50,
                ti: [],
                yi: [],
                tiData: '',
                yiData: '',
                buttonText: 'Старт',
                isWork: false,
                fixed: [],
                multiplier: 1.0,
                iters: 0,
                err: 0.0,
                error: 0.0,
            },
            computed: {

                button: function () {
                    return this.buttonText;
                },
            },
            methods: {
                inputData: function() {

                    // this.yi = this.yiData.replace(/\r\n/g, '\n').replace(/,/g, '.').trim().split('\n');

                    // var i, t = 0, N = this.yi.length;

                    // var h = math.number(math.divide(math.bignumber(1), math.bignumber(N)));

                    // for (i = 0; i < N; i++, t += h) {
                    //     this.ti[i] = math.round(t, 12);
                    // }

                    // this.tiData = this.ti.join("\n");

                    this.multiplier = 1.0;
                },
                applyMultiplier: function(e) {

                    this.multiplier += '';

                    this.multiplier = this.multiplier.replace(/,/g, '.').trim();

                    if(!this.yiData) return;

                    var yi = this.yiData.replace(/\r\n/g, '\n').replace(/,/g, '.').trim().split('\n');
                    var i, yiData = '', N = yi.length;
                    for (i = 0; i < N; i++) {
                        yiData += math.multiply(+yi[i], this.multiplier) + "\n";
                    }
                    this.yiData = yiData;
                },
                reset1: function(e) {

                    var params = [2.0, -2.0, 2.0, 10.0, 0.5];

                    var k, N = params.length;
                    for (k = 0; k < N; k++)
                    {
                        if(this.fixed.indexOf(k + '') != -1) {
                            continue;
                        }

                        switch(k)
                        {
                            case 0:
                                this.a = params[k];
                                break;
                            case 1:
                                this.b = params[k];
                                break;
                            case 2:
                                this.c = params[k];
                                break;
                            case 3:
                                this.g = params[k];
                                break;
                            case 4:
                                this.h = params[k];
                                break;
                        }
                    }

                    this.yiData = '';
                    this.yi = [];
                    this.tiData = '';
                    this.ti = [];
                },
                reset2: function(e) {

                    var params = [-2.0, 2.0, -2.0, 10.0, 0.5];

                    var k, N = params.length;
                    for (k = 0; k < N; k++)
                    {
                        if(this.fixed.indexOf(k + '') != -1) {
                            continue;
                        }

                        switch(k)
                        {
                            case 0:
                                this.a = params[k];
                                break;
                            case 1:
                                this.b = params[k];
                                break;
                            case 2:
                                this.c = params[k];
                                break;
                            case 3:
                                this.g = params[k];
                                break;
                            case 4:
                                this.h = params[k];
                                break;
                        }
                    }

                    this.yiData = '';
                    this.yi = [];
                    this.tiData = '';
                    this.ti = [];
                },
                run: function(e) {

                    if(this.isWork) return;

                    this.isWork = true;

                    this.buttonText = 'Вычисления...';

                    this.yi = this.yiData.replace(/\r\n/g, '\n').replace(/,/g, '.').trim().split('\n');

                    var i, t = 0, N = this.yi.length;

                    var x = [math.number(this.a), math.number(this.b), math.number(this.c), math.number(this.g), math.number(this.h)],
                        h = math.number(math.divide(math.bignumber(1), math.bignumber(N)));

                    for (i = 0; i < N; i++, t += h) {
                        this.ti[i] = math.round(t, 12);
                    }

                    function f(x, t)
                    {
                        return 1 - math.exp(-x[0] * math.pow(t, 2) * math.exp(-x[1] * t)) + x[2] * (1 - math.exp(-math.pow(t, 3) * math.exp(-x[3] * (t - x[4]))));
                    }

                    function func(x, ti, yi)
                    {
                        var sum = 0, i, N = yi.length;
                        for (i = 0; i < N; i++) {
                            sum += math.pow(yi[i] - (1 - math.exp(-x[0] * math.pow(ti[i], 2) * math.exp(-x[1] * ti[i]))) - x[2] * (1 - math.exp(-math.pow(ti[i], 3) * math.exp(-x[3] * (ti[i] - x[4])))), 2);
                        }
                        return sum;
                    }

                    var nm = new NM(this.ti, this.yi, f, func, this.fixed);

                    var that = this;

                    setTimeout(function() {

                        for (i = 0; i < that.epochs; i++)
                        {
                            var p = x.slice(0);

                            x = nm.optimize(x);

                            if(nm.norma(x, p) < 1E-6) break;
                        }

                        that.a = math.round(x[0], 8);
                        that.b = math.round(x[1], 8);
                        that.c = math.round(x[2], 8);
                        that.g = math.round(x[3], 8);
                        that.h = math.round(x[4], 8);

                        that.err = math.round(nm.err(x), 4);
                        that.error = math.round(nm.error(x), 4);
                        that.iters = nm.i;

                        draw(that.ti, that.yi, x, f, nm.i, that.error);

                        that.buttonText = 'Старт';
                        that.isWork = false;

                    }, 1000);
                }
            }
        });

        function NM(ti, yi, f, func, fixed)
        {
            this.i = 0;

            this.ti = ti || [];
            this.yi = yi || [];

            this.defaults = {
                eps: 1E-8,
                max: 2000,
                beta: 0.5,
                gamma: 2.0,
                alpha: 1.0,
                update: 100,
            };

            this.eps = this.defaults.eps;
            this.max = this.defaults.max;
            this.beta = this.defaults.beta;
            this.gamma = this.defaults.gamma;
            this.alpha = this.defaults.alpha;
            this.update = this.defaults.update;

            this.f = f || function(x, t) { return 0; };
            this.func = func || function(x, ti, yi) { return 0; };

            this.fixed = fixed || [];

            this.optimize = function (x, eps, max, alpha, beta, gamma, edge, update)
            {
                // this.i = 0;

                this.eps = eps || this.defaults.eps;
                this.max = max || this.defaults.max;
                this.beta = beta || this.defaults.beta;
                this.gamma = gamma || this.defaults.gamma;
                this.alpha = alpha || this.defaults.alpha;
                this.update = update || this.defaults.update;

                var simplex = new Simplex(x, edge, this.fixed);

                for(var i = 0; i < this.max; i++)
                {
                    this.i++;

                    this.calc(simplex);

                    if(i == update)
                    {
                        simplex = new Simplex(simplex.bestX(), this.norma(simplex.bestX(), simplex.best2X()), this.fixed); // обновляем симплекс каждую итерацию update
                        this.calc(simplex);
                    }

                    var c = simplex.center();
                    var sigma = simplex.sigma(this.func(c, this.ti, this.yi));

                    //console.log('i: ', this.i, 'sigma: ', sigma);

                    if(sigma < this.eps) {
                        return simplex.bestX();
                    }

                    var x3 = simplex.reflection(c, this.alpha, this.fixed);
                    var fx3 = this.func(x3, this.ti, this.yi);

                    if(fx3 <= simplex.bestFx())
                    {
                        var x4 = simplex.tensile(c, x3, this.gamma, this.fixed);
                        var fx4 = this.func(x4, this.ti, this.yi);

                        simplex.replaceWorstV(fx4 < simplex.bestFx() ? new Point(x4, fx4) : new Point(x3, fx3)); // замена "худшей" вершины
                    }
                    else if((fx3 > simplex.worst2Fx()) && (fx3 <= simplex.worstFx()))
                    {
                        var x5 = simplex.compression(c, this.beta, this.fixed);
                        var fx5 = this.func(x5, this.ti, this.yi);

                        simplex.replaceWorstV(new Point(x5, fx5)); // замена "худшей" вершины
                    }
                    else if((fx3 > simplex.bestFx()) && (fx3 <= simplex.worst2Fx())) {
                        simplex.replaceWorstV(new Point(x3, fx3)); // замена "худшей" вершины
                    }
                    else if (fx3 > simplex.worstFx())
                    {
                        for (var n = 0; n < simplex.size(); n++)
                        {
                            var x6 = simplex.tensile(simplex.bestX(), simplex.getV(n).getX(), 0.5, this.fixed); // сжатие (редукция)
                            simplex.setV(n, new Point(x6)); // замена каждой вершины
                        }
                    }
                }
                return simplex.bestX();
            }

            this.calc = function(simplex)
            {
                var i, fx, N = simplex.size();
                for(i = 0; i < N; i++)
                {
                    fx = this.func(simplex.getV(i).getX(), this.ti, this.yi);
                    simplex.getV(i).setFx(fx);
                }
                simplex.sort(comparer);
            }

            // Среднеквадротичная ошибка аппроксимации
            this.err = function(x)
            {
                var err = 0, i, N = this.yi.length;
                for (i = 0; i < N; i++) {
                    err += math.pow(this.yi[i] - this.f(x, this.ti[i]), 2);
                }
                return math.sqrt(err / (N - 1));
            }

            // Относительная ошибка аппроксимации (%)
            this.error = function(x)
            {
                var err = 0, i, zeroN = 0, N = this.yi.length;
                for (i = 0; i < N; i++)
                {
                    var y = this.f(x, this.ti[i]);

                    if(y == 0)
                    {
                        zeroN++;
                        continue;
                    }
                    err += math.abs((y - this.yi[i]) / y);
                }
                return err / ( N - zeroN ) * 100;
            }

            // норма между точками ( векторами )
            this.norma = function(a, b)
            {
                var sum = 0, i, N = a.length;
                for (i = 0; i < N; i++) {
                    sum += math.pow(a[i] - b[i], 2);
                }
                return math.sqrt(sum);
            }

            // сортировать по возрастанию ( самая "плохая" точка - последняя )
            function comparer(a, b) {
                return a.getFx() - b.getFx(); 
            }
        }

        function Simplex(x, edge, fixed)
        {
            this.edge = edge || 1.0;
            this.fixed = fixed || [];
            this.vertices = [];
            this.dimension = x.length;

            this.addV = function(x) {
                return this.vertices.push(new Point(x));
            }
            this.setV = function(i, v) {
                this.vertices[i] = v;
            }
            this.getV = function(i) {
                return this.vertices[i];
            }
            this.bestX = function() {
                return this.getV(0).getX();
            }
            this.best2X = function() {
                return this.getV(1).getX();
            }
            this.bestFx = function() {
                return this.getV(0).getFx();
            }
            this.worstFx = function() {
                return this.getV(this.size() - 1).getFx();
            }
            this.worst2Fx = function() {
                return this.getV(this.size() - 2).getFx();
            }
            this.replaceWorstV = function(v) {
                return this.setV(this.size() - 1, v);
            }
            this.dim = function() {
                return this.dimension;
            }
            this.size = function() {
                return this.dimension + 1;
            }
            this.sort = function(comparer) {
                return this.vertices.sort(comparer);
            }
            this.reflection = function(c, alpha)
            {
                var x = [], k, N = this.dim(), L = this.size() - 1;
                for (k = 0; k < N; k++)
                {
                    if(this.fixed.indexOf(k + '') != -1)
                    {
                        x[k] = this.vertices[L].x[k];
                        continue;
                    }

                    x[k] = c[k] + alpha * (c[k] - this.vertices[L].x[k]);
                }
                return x;
            }
            this.compression = function(c, beta)
            {
                var x = [], k, N = this.dim(), L = this.size() - 1;
                for (k = 0; k < N; k++)
                {
                    if(this.fixed.indexOf(k + '') != -1)
                    {
                        x[k] = this.vertices[L].x[k];
                        continue;
                    }

                    x[k] = c[k] + beta * (this.vertices[L].x[k] - c[k]);
                }
                return x;
            }
            this.tensile = function(c, p, gamma)
            {
                var x = [], k, N = this.dim();
                for (k = 0; k < N; k++)
                {
                    if(this.fixed.indexOf(k + '') != -1)
                    {
                        x[k] = p[k];
                        continue;
                    }

                    x[k] = c[k] + gamma * (p[k] - c[k]);
                }
                return x;
            }
            this.sigma = function(fx)
            {
                var sum = 0, i, N = this.size();
                for (i = 0; i < N; i++) {
                    sum += math.pow(this.vertices[i].fx - fx, 2);
                }
                return math.sqrt(sum / (N + 1));
            }
            this.center = function()
            {
                var c = [], i, k, N = this.size() - 1;
                var s = 1 / N;

                for (i = 0; i < N; i++)
                {
                    for (k = 0; k < this.dim(); k++)
                    {
                        if(typeof c[k] == 'undefined') c[k] = 0;

                        c[k] = c[k] + s * this.vertices[i].x[k];
                    }
                }
                return c;
            }

            // строим регулярный начальный симплекс
            function build(x)
            {
                this.addV(x);

                var dim = this.dim() - this.fixed.length;

                var d1 = (this.edge * math.sqrt(dim + 1) - 1) / (dim * math.sqrt(2)),
                    d2 = (this.edge * math.sqrt(dim + 1) + dim - 1) / (dim * math.sqrt(2));

                for(var i = 1; i < this.size(); i++) // по вершинам симплекса
                {
                    var k, v = []; // новая вершина

                    // по координатам вершины
                    for(k = 0; k < this.dim(); k++)
                    { 
                        if(this.fixed.indexOf(k + '') != -1)
                        {
                            v[k] = x[k];
                            continue;
                        }

                        v[k] = x[k] + ((i == k) ? d2 : d1);
                    }
                    this.addV(v);
                }
            }

            build.call(this, x);
        }

        function Point(x, fx)
        {
            this.x = x; // точка ( координаты в Rn )
            this.fx = fx; // значение функции в точке x

            this.setX = function(x) {
                this.x = x;
            }
            this.getX = function() {
                return this.x;
            }
            this.setFx = function(fx) {
                this.fx = fx;
            }
            this.getFx = function() {
                return this.fx;
            }
        }

        function draw(ti, yi, x, f, iters, err)
        {
            try
            {
                var data = [{x: ti, y: yi, type: 'scatter', name: 'эксперимент'}];

                if(typeof x != 'undefined' && typeof f != 'undefined')
                {
                    var i, fi = [];
                    for(i = 0; i < ti.length; i++) {
                        fi[i] = f(x, ti[i]);
                    }

                    data.push({x: ti, y: fi, type: 'scatter', name: 'описание'});
                }

                var layout = {
                    title: '',
                    xaxis: {
                        title: 'ti'
                    },
                    yaxis: {
                        title: 'yi'
                    }
                };

                // if(typeof iters != 'undefined' && typeof err != 'undefined') {
                //     layout.title = 'Количество итериций: ' + iters + ', Среднекв. ошибка: ' + err + '%';
                // }

                Plotly.newPlot('plot', data, layout);
            }
            catch (err)
            {
                console.error(err);
                alert(err);
            }
        }

    </script>
</body>
</html>